<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>se.sobline.qualityrunner.model.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/home.jsp</url-pattern>
    <url-pattern>/product.jsp</url-pattern>
    <url-pattern>/products.jsp</url-pattern>
    <url-pattern>/reviews.jsp</url-pattern>
  </filter-mapping>
  <display-name>QR</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>